logs/
models/
resized_images/
resized_images-old/
__pycache__/
.trunk/
tfgpu/
__pycache__/modelTrainer.cpython-311.pyc
kaggle/
input2/
desperation/*
dataset/*
dataset/
input/*
input2/*
dataset-old/*
Maybe-Data/*
Maybe-Data/
tfgpu.7z
move-test.bat
move-data.bat
move-data-alphabet.bat
dataset-old - Copy/
dataset-old - Copy/*
restTester.py
checkpoints/
checkpoints/*
dataset-backup/
dataset-backup/*
bad_data/
bad_data/*